* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFDFD3;
}

.site-name {
    font-size: 2rem;
}

.nav {
    margin: 0 1rem 0 0;
    border-radius: 20px;
    margin: 0.5rem;
    background-color: #FFDFD3; 
    color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0px 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-blend-mode: overlay;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #bd9b8f;
}

.nav li:hover {
    background-color: #e2c1b4;
}

.homePostDiv {
    display: flex;
    justify-content:  space-around;
    flex-wrap: wrap;
}

.homeLink {
    height: 20rem;
    width: 20rem;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none;
    color: black;
}

.homePost {
    align-items: center;
    position: relative;
}

.homeHeader {
    text-align: center;
    margin-bottom: 20px;
}

.homeImage {
    text-align: center;
}

.homePost img {
    border-radius: 4px;
    max-width: 50%;
    max-height: 50%;
}

.post {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
    align-items: center;
    position: relative;
}

.postHeader {
    text-align: center;
    margin-bottom: 20px;
}

.postImage {
    text-align: center;
}

.post img {
    border-radius: 4px;
    max-width: 50%;
    max-height: 50%;
}

.loginPage {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 3rem;
    width: 40%;
    align-items: center;
    position: relative;
    display: grid;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 20%);
}

.signUp {
    display: none;
}

.signUp h3 {
    margin-right: 8%;
    margin-left: 8%;
}

.signUp p {
    margin-right: 8%;
    margin-left: 8%;
}

.signIn {
    display: grid;
}

.signIn h3 {
    margin-right: 8%;
    margin-left: 8%;
}

.authEmail {
    height: 2rem;
    margin-bottom: 1rem;
    margin-right: 8%;
    margin-left: 8%;
}

.authPass {
    height: 2rem;
    margin-bottom: 0.5rem;
    margin-right: 8%;
    margin-left: 8%;
}

.authBtn {
    height: 2rem;
    margin-bottom: 0.5rem;
    margin-right: 8%;
    margin-left: 8%;
}

.createBtn {
    height: 2rem;
    margin-bottom: 0.5rem;
    margin-right: 8%;
    margin-left: 8%;
}

.googleLogIn {
    height: 2rem;
    margin-right: 8%;
    margin-left: 8%;
}

.signUp p {
    color: rgb(77, 77, 77);
    font-size: 0.6rem;
    margin-bottom: 3%;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #ebc9bd;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background:#ebcec1;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #e0c6bb;
}